<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
        <add key="DataDirPath" value="E:\项目存档\公司\南京图慧\信息中心视频识别\南理工SDK\FaceAngineNew\Release\训练样本数据\Top比对数据\2017-01-25-Top3-3"/>
  </appSettings>

</configuration>