<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net-net-1.0"/>
  </configSections>
  <log4net>
    <logger name="Daily.Logging">
      <level value="INFO"/>
      <appender-ref ref="DailyAppender"/>
    </logger>
    <appender name="DailyAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Logs/"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyyMMdd.'txt'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d: %m%n"/>
      </layout>
    </appender>
  </log4net>
  <system.windows.forms jitDebugging="true"/>
  <appSettings>
    <add key="DataPath" value="训练样本数据"/>
    <add key="ConnectionStringCHC" value="devIP=172.18.132.237;devPort=8000;uid=admin;pwd=tuhui123456"/>
    <add key="ConnectionStringMySQL" value="server=127.0.0.1;database=frsdb;uid=root;pwd=123456"/>
    <add key="ConnectionStringMySQLSet" value="server=127.0.0.1;database=frs_database_set;uid=root;pwd=123456"/>
    <!--<add key="ConnectionStringMySQL" value="server=127.0.0.1;database=frsdb;uid=root;pwd=12345679"/>-->
    <add key="ConnectionStringOracle" value="User ID=PK_DLQ;Password=TH_PKDLQ;Data Source=(DESCRIPTION=(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST =32.33.1.202)(PORT = 1521))(ADDRESS = (PROTOCOL = TCP)(HOST =32.33.1.203)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME =pkyzt)));"/>
    <add key="ConStringEncrypt" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
